
<system.web>
        <authentication mode="Forms">
            <forms name=".ORGANIZATION" loginUrl="http://localhost:5004/home.ejs" protection="All" timeout="120"/>
        </authentication>
        <authorization>
            <deny users="?"/>
            <allow users="?"/>
        </authorization>
    </system.web>


<location path="home.ejs">
        <system.web>
            <authorization>
                <allow users="?" />
            </authorization>
        </system.web>
    </location>
    